<nav class="bg-white">
  <div class="mx-auto px-2 sm:px-6">
    <div
      class="relative flex h-16 items-center justify-between pb-1 pt-1"
    >
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:ring-2 focus:ring-white focus:outline-hidden focus:ring-inset"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg
            class="block size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg
            class="hidden size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex shrink-0 items-center">
          <img
            class="h-8 w-auto"
            src="https://tailwindui.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500"
            alt="Your Company"
          />
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              routerLink="home"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-500 hover:text-gray-900"
              aria-current="page"
              >Inicio</a
            >
            <a
              routerLink="store"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-500 hover:text-gray-900"
              >Tienda</a
            >
            <a
              routerLink="help"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-500 hover:text-gray-900"
              >Ayuda</a
            >
          </div>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <!-- ******************carrito de compra****************** -->

        <div class="ml-4 flow-root lg:ml-6">
          <button
            (click)="toggleMenu('cart', $event)"
            class="group -m-2 flex items-center p-2"
          >
            <svg
              class="size-6 shrink-0 text-gray-400 group-hover:text-gray-600"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
              data-slot="icon"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
              />
            </svg>
            <span
              class="ml-2 text-sm font-medium text-gray-400 group-hover:text-gray-600"
              >{{ totalItems }}</span
            >
            <span class="sr-only">items in cart, view bag</span>
          </button>

          <!-- ******************carrito de compras****************** -->

          @if (isMenuCartOpen) {
          <div
            id="cart"
            class="absolute right-0 top-16 w-80 sm:w-96 bg-white shadow-lg rounded-lg p-4 z-20"
          >
            <h2 class="text-lg font-semibold border-b pb-2">
              Carrito de Compras
            </h2>
            <div class="space-y-4 mt-3">
              <!-- Productos -->

              @for (item of basket?.items; track item) {@let product =
              getProductById(item.product); @if (product) {
              <div class="flex items-center gap-3">
                <img
                  [src]="product.gallery[0] || []"
                  alt="Producto"
                  class="w-12 h-12 rounded"
                />
                <div class="flex-1">
                  <p class="text-sm font-medium">{{ product.name }}</p>
                  <p class="text-xs text-gray-500">
                    Cantidad: {{ item.quantity }}
                  </p>
                </div>
                <p class="text-sm font-semibold">
                  ${{ product ? product.price * item.quantity : 0 }}
                </p>
              </div>
              } }
            </div>

            <div class="border-t pt-3 mt-3">
              <!-- Total de la compra -->
              <p class="text-right text-lg font-bold mt-4">
                Total: {{ totalPrice }}
              </p>
              <a routerLink="basket">
                <button
                  class="w-full mt-3 bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition"
                >
                  Finalizar Compra
                </button>
              </a>
            </div>
          </div>
          }
        </div>
        @if (!userData) {

        <!-- ******************login****************** -->

        <div class="hidden lg:flex lg:flex-1 pl-3 lg:justify-end">
          <a
            href="http://localhost:4200/auth/login"
            class="text-sm/6 font-semibold text-gray-500 hover:text-gray-800"
            >Log in <span aria-hidden="true">&rarr;</span></a
          >
        </div>
        }@else {
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button
              type="button"
              class="relative flex rounded-full text-sm focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-200 focus:outline-hidden"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
              (click)="toggleMenu('user', $event)"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img
                class="size-8 rounded-full"
                [src]="userData.profilePicture"
                alt="User profile"
              />
            </button>
          </div>

          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
          @if (isMenuUserOpen) {
          <div
            id="user-menu"
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 ring-1 shadow-lg ring-black/5 focus:outline-hidden transition ease-out duration-100"
            [ngClass]="{
              'opacity-100 scale-100': isMenuUserOpen,
              'opacity-0 scale-95': !isMenuUserOpen
            }"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
          >
            <!-- Active: "bg-gray-100 outline-hidden", Not Active: "" -->
            <a
              routerLink="myaccount"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:outline-hidden"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-0"
              >Your Profile</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:outline-hidden"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-1"
              >Settings</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:outline-hidden"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-2"
              (click)="logout(); $event.preventDefault()"
              >Sign out</a
            >
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <a
        href="#"
        class="block rounded-md bg-gray-900 px-3 py-2 text-base font-medium text-white"
        aria-current="page"
        >Dashboard</a
      >
      <a
        href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        >Team</a
      >
      <a
        href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        >Projects</a
      >
      <a
        href="#"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-gray-700 hover:text-white"
        >Calendar</a
      >
    </div>
  </div>
</nav>
