<div class="bg-gray-100">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 2xl:px-0">
    <!-- Encabezado del carrito -->
    <h2 class="text-xl font-semibold py-4">
      Carro
      <span class="text-gray-500"
        >({{ basket?.items?.length || 0 }} productos)</span
      >
    </h2>

    <div class="grid grid-cols-1 gap-6 sm:grid-cols-6">
      <!-- Lista de productos -->
      <div class="sm:col-span-4 sm:col-start-1">
        @for (item of basket?.items; track item.product) { @let product =
        getProductById(item.product.toString()); @if (product) {
        <div class="bg-white shadow-sm rounded-lg overflow-hidden mb-4">
          <div class="items-center justify-between p-4">
            <div class="flex mb-4 gap-2">
              <!-- Imagen y detalles del producto -->

              <div class="lg:flex items-center gap-4 flex-1">
                <div class="flex items-center gap-2 mb-2 lg:mb-0">
                  <!-- Checkbox marcado por defecto -->

                  <div class="flex items-center px-2">
                    <div class="flex h-6 shrink-0 items-center">
                      <div class="group grid size-4 grid-cols-1">
                        <input
                          id="comments"
                          aria-describedby="comments-description"
                          name="comments"
                          type="checkbox"
                          checked
                          class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-rose-600 checked:bg-rose-600 indeterminate:border-rose-600 indeterminate:bg-rose-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto"
                        />
                        <svg
                          class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25"
                          viewBox="0 0 14 14"
                          fill="none"
                        >
                          <path
                            class="opacity-0 group-has-checked:opacity-100"
                            d="M3 8L6 11L11 3.5"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                          <path
                            class="opacity-0 group-has-indeterminate:opacity-100"
                            d="M3 7H11"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>

                  <img
                    [src]="product.gallery[0]"
                    alt="{{ product.name }}"
                    class="w-20 h-20 object-cover rounded-lg"
                  />

                  <div class="">
                    <h3 class="text-base font-semibold text-gray-800">
                      {{ product.name }}
                    </h3>
                    <p class="text-sm text-gray-500">{{ product.brand }}</p>
                  </div>
                </div>

                <div class="flex flex-1 justify-between">
                  <!-- Precios y descuentos -->

                  <div class="px-2">
                    <div class="flex gap-2">
                      <div class="text-lg font-medium text-gray-500">
                        {{ product.price | solCurrency }}
                      </div>
                      <div
                        class="text-xs items-center px-2 py-1 font-bold text-white bg-rose-600 rounded-md"
                      >
                        {{ product.discount }}%
                      </div>
                    </div>

                    <div class="text-md text-gray-400 line-through">S/379</div>
                  </div>

                  <!-- Contador de cantidad y botón de eliminar -->

                  <div class="flex gap-2 items-center">
                    <div class="flex items-center gap-2 rounded-lg">
                      <button
                        class="size-6 flex items-center justify-center bg-gray-400 rounded-lg hover:bg-gray-300 transition-colors"
                        (click)="decreaseQuantity(item)"
                      >
                        <svg
                          class="w-3 h-3 text-white"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 18 2"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M1 1h16"
                          />
                        </svg>
                      </button>
                      <span class="px-2 text-md font-bold text-gray-600">{{
                        item.quantity
                      }}</span>
                      <button
                        class="size-6 flex items-center justify-center bg-gray-400 rounded-lg hover:bg-gray-300 transition-colors"
                        (click)="increaseQuantity(item)"
                      >
                        <svg
                          class="w-3 h-3 text-gray-900 dark:text-white"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 18 18"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M9 1v16M1 9h16"
                          />
                        </svg>
                      </button>
                    </div>

                    <!-- Botón "x" para eliminar -->

                    <div class="ml-3 flex h-7 items-center">
                      <button
                        type="button"
                        (click)="removeItem(item.product.toString())"
                        class="relative -m-2 p-2 text-gray-400 hover:text-gray-500"
                      >
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Close panel</span>
                        <svg
                          class="size-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          aria-hidden="true"
                          data-slot="icon"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M6 18 18 6M6 6l12 12"
                          />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="space-y-4">
              <!-- Opción de retiro en tienda -->

              <div
                class="border rounded-lg p-3"
                [class.border-rose-600]="
                  getDeliveryOption(item.product.toString()) === 'store'
                "
                [class.border-gray-300]="
                  getDeliveryOption(item.product.toString()) !== 'store'
                "
              >
                <div class="flex justify-between items-start">
                  <div class="flex items-center gap-x-3">
                    <input
                      type="radio"
                      name="delivery_{{ item.product }}"
                      id="store_pickup_{{ item.product }}"
                      [checked]="getDeliveryOption(item.product.toString()) === 'store'"
                      (change)="updateDeliveryOption(item.product.toString(), 'store')"
                      class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-rose-600 checked:bg-rose-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden"
                    />
                    <label
                      for="store_pickup_{{ item.product }}"
                      class="font-medium text-gray-700"
                    >
                      Retiro en Tienda
                    </label>
                  </div>

                  <button class="text-rose-600 text-sm font-medium">
                    Más opciones
                  </button>
                </div>
                <div
                  class="flex justify-between ml-6 mt-1 text-sm text-gray-600"
                >
                  <p>
                    Desde el
                    {{ getDeliveryDate(1) | dateFormat : "d MMM" }}. En TOTTUS
                    HUANCAYO (0,9km)
                  </p>
                  <p class="text-green-600 font-medium">Gratis</p>
                </div>
                <div class="ml-6 mt-2">
                  <label class="inline-flex items-center">
                    <!-- Checkbox marcado por defecto -->

                    <div class="flex items-center pl-2">
                      <div class="flex h-6 shrink-0 items-center">
                        <div class="group grid size-4 grid-cols-1">
                          <input
                            id="comments"
                            aria-describedby="comments-description"
                            name="comments"
                            type="checkbox"
                            class="col-start-1 row-start-1 appearance-none rounded-sm border border-gray-300 bg-white checked:border-rose-600 checked:bg-rose-600 indeterminate:border-rose-600 indeterminate:bg-rose-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:checked:bg-gray-100 forced-colors:appearance-auto"
                          />
                          <svg
                            class="pointer-events-none col-start-1 row-start-1 size-3.5 self-center justify-self-center stroke-white group-has-disabled:stroke-gray-950/25"
                            viewBox="0 0 14 14"
                            fill="none"
                          >
                            <path
                              class="opacity-0 group-has-checked:opacity-100"
                              d="M3 8L6 11L11 3.5"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              class="opacity-0 group-has-indeterminate:opacity-100"
                              d="M3 7H11"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </div>
                      </div>
                    </div>
                    <span class="ml-2 text-sm text-gray-600"
                      >¿Retira alguien más?</span
                    >
                  </label>
                </div>
              </div>

              <!-- Opción de envío a domicilio -->

              <div
                class="border rounded-lg p-3"
                [class.border-rose-600]="
                  getDeliveryOption(item.product.toString()) === 'home'
                "
                [class.border-gray-300]="
                  getDeliveryOption(item.product.toString()) !== 'home'
                "
              >
                <div class="flex justify-between items-start">
                  <div class="flex items-center gap-x-3">
                    <input
                      type="radio"
                      name="delivery_{{ item.product }}"
                      id="home_delivery_{{ item.product }}"
                      [checked]="getDeliveryOption(item.product.toString()) === 'home'"
                      (change)="updateDeliveryOption(item.product.toString(), 'home')"
                      class="relative size-4 appearance-none rounded-full border border-gray-300 bg-white before:absolute before:inset-1 before:rounded-full before:bg-white not-checked:before:hidden checked:border-rose-600 checked:bg-rose-600 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-rose-600 disabled:border-gray-300 disabled:bg-gray-100 disabled:before:bg-gray-400 forced-colors:appearance-auto forced-colors:before:hidden"
                    />
                    <label
                      for="home_delivery_{{ item.product }}"
                      class="font-medium text-gray-700"
                    >
                      Envío a domicilio
                    </label>
                  </div>
                </div>

                <div
                  class="ml-6 mt-1 text-sm text-gray-600 flex justify-between"
                >
                  <p>
                    Llega el
                    {{ getDeliveryDate(2) | dateFormat : "EEEE d MMM" }}
                    de 9 a 21 h
                  </p>
                  <p class="text-gray-800 font-medium">
                    {{ getProductShippingCost(item.product.toString()) | solCurrency }}
                  </p>
                </div>
                <div class="">
                  <button class="ml-6 mt-1 text-rose-600 text-sm font-medium">
                    Cambiar fecha
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        } }
      </div>

      <!-- Resumen de la orden -->

      <div class="sm:col-span-2 bg-white shadow p-4 rounded-lg h-fit">
        <h3 class="text-xl font-semibold mb-4">Resumen de la orden</h3>
        <div class="flex justify-between text-gray-600">
          <span>Productos ({{ basket?.items?.length || 0 }} )</span>
          <span>{{ subtotal | solCurrency }}</span>
        </div>
        <div class="flex justify-between text-gray-600">
          <span>Descuentos ({{ discountCount }})</span>
          <span class="text-green-500">{{ discountTotal | solCurrency }}</span>
        </div>

        <div class="flex justify-between text-gray-600">
          <span>Envio</span>
          <span class="text-green-500">{{ totalShippingCost | solCurrency }}</span>
        </div>

        <hr class="my-2" />
        <div class="flex justify-between font-semibold text-lg">
          <span>Total:</span>
          <span>{{ finalTotal | solCurrency }}</span>
        </div>
        <button class="w-full bg-black text-white py-2 mt-4 rounded-lg">
          Continuar compra
        </button>
      </div>
    </div>
  </div>
</div>
